/* content */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.amazingcarousel-main .amazingcarousel-image {	
	position: relative;
	padding: 0;
}

.amazingcarousel-main .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.amazingcarousel-main .amazingcarousel-title {
	position:relative;
	font:14px 'Open Sans', sans-serif;
	color:#333333;
	margin:0;
	text-align:center;
	text-shadow:0px 1px 1px #fff;
}
.html5-elem-data-box {
	display: none!important;
}

.amazingcarousel-main .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

.amazingcarousel-main .amazingcarousel-item-container {
	text-align: center;
}

/* arrows */

.amazingcarousel-main .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: -105px;
	margin-top: -50px;
}

.amazingcarousel-main .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: -105px;
	margin-top: -50px;
}

/* navigation bullets */

.amazingcarousel-main .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

.amazingcarousel-main .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}


.amazingcarousel-main.amazingcarousel-sub .amazingcarousel-list-container {
	width: 825px!important;
}
.amazingcarousel-main.amazingcarousel-sub .amazingcarousel-list-wrapper {
	width: 825px!important;
}
.amazingcarousel-main.amazingcarousel-sub .amazingcarousel-list {
	width: 2200px!important;
}
.amazingcarousel-main.amazingcarousel-sub .amazingcarousel-item {
	width: 275px!important;
}

.amazingcarousel-main.amazingcarousel-sub.amazingcarousel-detail .amazingcarousel-list-container {
	width: 630px!important;
}
.amazingcarousel-main.amazingcarousel-sub.amazingcarousel-detail .amazingcarousel-list-wrapper {
	width: 555px!important;
}


@media (max-width: 768px) {
	.amazingcarousel-main.amazingcarousel-sub .amazingcarousel-list-container {
		width: 550px !important;
	}

	.amazingcarousel-main.amazingcarousel-sub .amazingcarousel-list-wrapper {
		width: 550px !important;
	}

	.amazingcarousel-main .amazingcarousel-prev {
		margin-left: -50px!important;
	}

	.amazingcarousel-main .amazingcarousel-next {
		margin-right: -50px!important;
	}

}


