@media only screen and (max-width: 1385px) and (min-width: 992px)  {
    .div-eccentricyellow,.div-brightsidepurple,.div-black,.div-techgrey{
        width: 120px!important;
        height: 120px!important;
    }
    .div-smartgreen,.div-powerblue,.div-positivepink,.div-pureorange,.div-textyellow{
        width: 110px!important;
        height: 110px!important;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1440px !important;
    }
}

@media (max-width: 768px) {
    .primary-div {
        transform: inherit !important;
        height: auto !important;
        position: relative !important;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .margin-top-primary-secondary {
        margin: 20px 0 0 0 !important;
    }
}

@media (max-width: 360px) {

}