@media only screen and (max-width: 1385px) and (min-width: 992px) {
    .div-eccentricyellow, .div-brightsidepurple, .div-black, .div-techgrey {
        width: 120px !important;
        height: 120px !important;
    }

    .div-smartgreen, .div-powerblue, .div-positivepink, .div-pureorange, .div-textyellow {
        width: 110px !important;
        height: 110px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px !important;
    }
    .custom-opportunity-modal .info-modal-header {
        position: absolute;
        top: 0;
        right: 430px !important;
    }
}

@media (max-width: 768px) {
    .discovery_pt{
        padding: 7px 25px 15px;
    }
    .pre-banking-tabs.accout-settings-tabs .nav-link {
        width: 140px;
    }
    .border-answer-quetion .person-detail{
        right: auto!important;
    }
    .pro-burger-menu-main nav[role="full-horizontal"] {
        right: 140px;
    }
    .banner-title {
        position: absolute;
        left: 18% !important;
        bottom: 32% !important;
    }
    .banner-title h1{
        font-size: 20px!important;
    }
    .banner-title.banner-title-adv{
        bottom: 15% !important;
    }
    .burger-menu-main nav[role=full-horizontal] {
        right: 90px;
    }
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .credit-factor-border{
        border-top: 1px solid #f2f2f2;
        border-left: 0;
    }
    .credit-factor-tab {
        position: unset;
        left: auto;
        top: auto;
        z-index: 2;
    }
    .custom-opportunity-modal .info-modal-header {
        position: absolute;
        top: 100px;
        right: 275px!important;
    }
    .banner-ads-text {
        display: none!important;
    }
    .creditcard-compare-md{
        justify-content: center;
    }
    .custom-advisor-detail-modal .modal-dialog {
        max-width: 725px!important;
    }
    .custom-modal .modal-dialog.CommunityModal {
        max-width: 680px !important;
    }
    .custom-modal .modal-dialog.CommunitypurpleModal {
        max-width: 680px !important;
    }
    iframe.detail-video{
        height: 325px !important;
    }
    .primary-div {
        transform: inherit !important;
        height: auto !important;
        position: relative !important;
        text-align: center;
    }

    .financial-health-guru-block .financial-health-guru-img {
        position: inherit;
        top: 25px;
        display: block;
        margin: 0 auto;
        left: auto;
    }

    .most-read-articles .owl-nav > div {
        display: none;
    }

    .most-popular-videos .owl-nav > div {
        display: none;
    }

    .centered-text .credit-without-score-text {
        font-size: 1.5rem !important;
    }

    .hero-container .hero-banner .centered-text .opportunitytxt {
        font-size: 0.9rem !important;
    }

    /*    .latest-career p.paragraph-bold-14-34.mb-1.mt-3.p-text-general.text-white {
            min-height: 45px;
        }*/
    .owl-career-opportunities .owl-item img {
        width: auto !important;
    }

    .financial-toolbox {
        background-image: none;
    }

    .meet-the-bank {
        background-image: none;
    }

    .financial-toolbox p.paragraph-regular-14-19.mb-1.mt-2.text-primary-black {
        min-height: 85px;
    }

    .bg-white-steps.stes-width {
        width: 38px;
        padding: 5px 7px !important;
        height: 38px;
        position: relative;
        top: 7px;
    }

    .mobile-count {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .member-benifits {
        width: auto;
        top: 20px;
        margin-bottom: 30px;
    }

    .found-jobs {
        width: auto;
        top: 20px;
        margin-bottom: 30px;
    }

    .result-jobs {
        width: auto;
    }

    .global-signup-bg {
        background-image: none !important;
    }

    .most-featured-today-second .owl-next {
        right: 100px;
        top: 65px;
    }

    .most-featured-today .owl-next {
        right: 100px;
    }

    .most-featured-today .owl-prev {
        left: 100px;
    }

    .most-featured-today-second .owl-prev {
        left: 100px;
        top: 65px;
    }

    .center-slide-like {
        top: 55px;
        left: 75px
    }

    .center-slide-like-dash {
        top: 55px;
        left: 75px
    }

    .top-right-slide-like {
        top: 10px;
        right: 10px;
    }

    .financial-guru-pos {
        left: auto;
    }

    .icons-symbol-search {
        display: none;
    }

    .hero-container {
        margin-top: 75px;
    }

    .header-menu-text-pro {
        font-size: 17px;
        padding: 15px 20px;
    }

    .form-steps .bg-white-steps {
        margin: 0 auto;
    }

    .form-steps .second-steps:after {
        left: 14px;
        width: 130px;
    }

    .form-steps .first-step:after {
        left: 205px;
        width: 115px;
    }
    .form-steps .first-step.banner-step-first:after {
        left: 205px;
        width: 30px;
    }

    .form-steps .bg-white-steps.completed.first-step:after {
        border-bottom: 2px solid #44bca3;
        left: 15px;
        width: 90px;
    }

    .form-steps .bg-white-steps.second-steps-2:after {
        left: 210px;
        width: 50px;
    }
    .report-header-slider{
        max-height:220px!important;
    }
    .verticle-tabing-add-banner{
        right: auto;
    }
    .border.border-left-0.border-bottom-0.border-top-0.no-right-border{
        border-right: none!important;
    }
    .price-txt {
        font-size: 1.5rem;
    }
    .opportunities-text {
        font-size: 0.8rem!important;
    }
    .publisher-get-started .btn-primary-large-text{
        padding: 0.774rem 0 !important;
    }
    .publisher-get-started .btn-white-large-text{
        padding: 0.774rem 0 !important;
    }
    .advertiser-border-left-0{
        border: 1px solid #AAB2B5!important;
    }
    .advertiser-border-bottom-0{
        border-bottom: 0!important;
    }
    .advertiser-border.advertiser-border-bottom{
        border-bottom: 0!important;
    }
    .text-monthly{
        font-size: 0.9rem!important;
    }
    .text-monthly-detail{
        font-size: 10px!important;
    }
    .text-ammount{
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .have-question-title{
        font-size: 1.4rem;
        padding-top: 20px;
    }
    .feature-video-title{
        font-size: 1.4rem;
    }
    .feature-video-time{
        font-size: 1.2rem;
    }
    .badge-modal h1.heading-alt-bold{
        font-size: 1.5rem;
    }
    .mortgage-detail{
        font-size: 0.7rem !important;
    }
    .custom-modal .modal-content.link-account-modal-bg{
        background-color: transparent;
        border: none;
    }
    .burger-menu-main nav[role="full-horizontal"] ul > li > a div{
        border-bottom: 1px solid #e9ecef!important;
        font-family: "FibraOneAlt-Regular", Sans Serif;
        padding: 5px 0;
    }
    .pro-burger-menu-main nav[role="full-horizontal"] ul > li > a div{
        border-bottom: 1px solid #e9ecef!important;
        font-family: "FibraOneAlt-Regular", Sans Serif;
        padding: 5px 0;
    }
    .knowledge-menu-main nav[role="full-horizontal"] ul > li > a div{
        border-bottom: 1px solid #e9ecef!important;
        font-family: "FibraOneAlt-Regular", Sans Serif;
        padding: 5px 0;
    }
    .opportunities-menu-main nav[role="full-horizontal"] ul > li > a div{
        border-bottom: 1px solid #e9ecef!important;
        font-family: "FibraOneAlt-Regular", Sans Serif;
        padding: 5px 0;
    }
    .burger-menu-main nav[role="full-horizontal"] ul > li > a div.border-bottom-0{
        border-bottom: 0!important;
    }
    .border-jobs-menu{
        border-bottom:none!important;
    }
    .menu-grey-text{
        padding-left: 18px;
    }
    .banner-title-bages{
        bottom: auto !important;
        top: 30% !important;
    }
    .mob-banner-set{
        padding-top: 40px;
    }
    .topopportunities-menu-main nav[role="full-horizontal"]{
        left:10px;
    }
    .redirect-h4 {
        font-size: 1.1rem;
    }
    .banner-title {
        position: absolute;
        left: 10% !important;
        bottom: 25% !important;
    }
    .banner-title h1{
        font-size: 20px!important;
    }
    .banner-title.banner-title-adv{
        bottom: 15% !important;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .text-monthly{
        font-size: 0.6rem!important;
    }
    .text-monthly-detail{
        font-size: 9px!important;
    }
    iframe.detail-video{
        width:100%;
        height: 190px !important;
    }
    .border-answer-quetion .person-detail{
        right: auto;
    }
    .show-me-chkbox {
        right: auto;
    }
    .report-top-left{
        display: none;
    }
    .form-steps .bg-white-steps.completed:after {
        left: 15px;
        width: 21px;
    }
    .form-steps .bg-white-steps.second-steps-2:after {
        left: 188px!important;
        width: 50px;
    }
    .form-steps .bg-white-steps:after {
        left: 188px;
        width: 50px;
    }
    .form-steps .first-step.banner-step-first:after {
        left: 188px;
        width: 30px;
    }
    .form-steps .second-steps:after {
        left: 14px;
        width: 50px;
    }

    .header-menu-text {
        font-size: 11px !important;
        padding: 12px 0 !important;
    }

    .header-menu-text-pro {
        font-size: 11px !important;
        padding: 12px 0 !important;
    }

    .header-menu-text-pro-sec {
        font-size: 11px !important;
        padding: 0 !important;
    }

    .pre-banking-tabs .border-whole {
        border-bottom: 1px solid #AAB2B5;
        border-left: 1px solid #AAB2B5;
        border-right: 1px solid #AAB2B5;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .ThreeDots-menu-main .ThreeDots-menu-main-bg {
        right: 170px;
    }

    .ThreeDots-menu-main .arrow-up::after {
        left: 79%;
    }

    .owl-featured-today.owl-carousel .owl-nav {
        display: none !important;
    }

    .form-steps .bg-white-steps .step-completion {
        padding-left: 22px !important;
    }

    .just-for-you .step {
        top: auto;
        bottom: 10px;
    }

    .great-financial-body footer {
        margin-bottom: 235px;
    }

    .bg-white-steps .heading5-bold-caps-12-17 {
        font-size: 11px !important;
        position: relative;
        bottom: 2px;
    }

    .bg-white-steps.stes-width {
        width: 38px;
        padding: 5px 7px !important;
        height: 38px;
        top: auto;
    }

    .bg-white-steps .paragraph-regular-14-19 {
        font-size: 11px !important;
        position: relative;
        bottom: 2px;
    }

    .form-steps .bg-white-steps {
        padding: 5px 10px;
    }

    .po-fixed-small {
        position: fixed;
        bottom: 70px;
        z-index: 2;
        width: 100%;
        left: 0;
        background-color: #ffffff;
    }

    .po-fixed-small-skip {
        position: fixed !important;
        bottom: 0;
        z-index: 2;
        width: 100%;
        left: 0;
        background-color: #ffffff;
    }

    .health-guru-heading {
        font-size: 1.4rem;
        line-height: 35px;
    }

    .health-guru-heading1 {
        font-size: 1.4rem;
        line-height: 35px;
    }

    .financial-health-guru-block .financial-health-guru-img {
        position: inherit;
        top: auto;
        width: 75%;
        left: auto;
    }

    .great-financial-guru .heading2-regular-30-38 {
        font-size: 1.4rem;
    }

    .btn-primary-xlarge-text-icon .link1-bold-18-24 {
        font-size: 15px !important;
    }

    .btn-primary-xlarge-text-icon {
        padding: 1.2rem 1.2rem !important;
    }

    .btn-primary-xlarge-text-icon .btn-arrow {
        bottom: 25px;
    }

    .margin-top-primary-secondary {
        margin: 20px 0 0 0 !important;
    }

    .most-read-articles .owl-nav > div {
        display: none;
    }

    .most-popular-videos .owl-nav > div {
        display: none;
    }

    .centered-text .credit-without-score-text {
        font-size: 1.5rem !important;
        line-height: 25px !important;
    }

    .hero-container .hero-banner .centered-text {
        top: 30px !important;
        left: 30px !important;
    }

    .hero-container .hero-banner .centered-text .opportunitytxt {
        font-size: 0.8rem !important;
        line-height: 17px !important;
        max-width: 168px;
    }

    .heading2-bold-30-38 {
        font-size: 1.1rem !important;
    }

    .p-text-general {
        font-size: 0.8rem !important;
    }

    .financial-toolbox p.paragraph-regular-14-19.mb-1.mt-2.text-primary-black {
        min-height: 60px;
    }

    .hero-container .hero-banner .centered-text {
        max-width: 200px;
    }

    .best-help-you .card {
        min-height: auto;
    }

    .min-height-mobile {
        min-height: 145px;
    }

    .hero-container .latest-career {
        background-image: url(../images/career-opportunities-mobile-bg.png);
    }

    .behind-the-score {
        background-image: url(../images/behind-score-mobile.png);
    }

    .behind-the-score .top-right {
        position: absolute;
        top: 8%;
        right: 90px;
    }

    .general-size {
        font-size: 1.3rem !important;
        line-height: 30px;
    }

    .max-width-250 {
        max-width: 250px;
        margin: 0 auto;
    }

    .custom-h4-font-size {
        letter-spacing: 1px;
        font-size: 1.5rem;
    }

    .link-bank-modal-body {
        width: 97%;
    }

    .member-benifits {
        width: auto;
        top: 20px;
        margin-bottom: 30px;
    }

    .found-jobs {
        width: auto;
        top: 20px;
        margin-bottom: 30px;
    }

    .burger-menu-main {
        width: 100%;
        left: 0;
        overflow: auto;
        height: auto;
    }

    .pro-burger-menu-main nav[role="full-horizontal"] {
        width: 100%;
        left: 0;
        overflow: auto;
        height: auto;
        top: 0;
        right: auto;
        max-height: 100%;
    }

    .pro-burger-menu-main {
        width: 100%;
        left: 0;
        overflow: auto;
        height: auto;
        top: 114px;
    }
    .pro-burger-menu-main.banner-pro-menu {
        top: 100px;
    }

    .burger-menu-main {
        top: 74px;
    }

/*    .burger-menu-main nav[role="full-horizontal"] ul {
        position: initial;
        max-height: 423px;
    }*/
    .burger-menu-main nav[role="full-horizontal"] ul {
        position: initial;
        max-height: calc(100vh - 70px);
    }
    .pro-burger-menu-main nav[role="full-horizontal"] ul {
        position: initial;
        max-height: calc(100vh - 115px);
    }
    .knowledge-menu-main nav[role="full-horizontal"] ul {
        position: initial;
        max-height: calc(100vh - 130px);
    }

    .opportunities-menu-main nav[role="full-horizontal"] ul {
        position: initial;
        max-height: calc(100vh - 130px);
    }

    .burger-menu-main nav[role="full-horizontal"] {
        right: auto;
        max-height: 100%;
    }
    .burger-menu-main nav[role="full-horizontal"] ul > li.bg-tech-grey{
        background: #ffffff!important;
    }
    .opportunities-menu-main {
        width: 100%;
        left: 0;
        overflow: auto;
        height: auto;
        top: 114px;
    }

    .opportunities-menu-main nav[role="full-horizontal"] {
        right: auto;
        bottom:0;
        max-height: 100%;
    }

    .knowledge-menu-main {
        width: 100%;
        left: 0;
        overflow: auto;
        height: auto;
        top: 114px;
    }

    .knowledge-menu-main nav[role="full-horizontal"] {
        right: auto;
        max-height: 100%;
        bottom:0;
    }

    .most-featured-today-second .owl-next {
        right: 20px;
        top: 80px;
    }

    .most-featured-today .owl-next {
        right: 20px;
        top: 80px;
    }

    .most-featured-today .owl-prev {
        left: 20px;
        top: 80px;
    }

    .most-featured-today-second .owl-prev {
        left: 20px;
        top: 80px;
    }

    .center-slide-like {
        top: 60px;
        left: 0;
    }

    .center-slide-like-dash {
        top: 60px;
        left: 0;
        width: 100%;
    }

    .top-right-slide-like {
        top: 10px;
        right: 10px;
    }

    .financial-guru-pos {
        left: auto;
    }

    .pagination-1to7 .pagination-link {
        font-size: 0.5rem !important;
    }

    .favourite-bottom-right-border {
        border-right: none;
    }

    .no-favorites {
        padding-top: 35px;
        margin-bottom: 35px;
    }
    .pre-banking-tabs .nav-link {
        width: auto;
    }
    .pre-banking-tabs.accout-settings-tabs .nav-link {
        width: 150px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .pre-banking-tabs.accout-settings-tabs .nav-tabs {
        justify-content: center;
    }

    .arrow-down::after {
        left: 40%;
        border: 2em solid #AEB6B9;
        border-color: transparent transparent #F2F2F2 #F2F2F2;
    }
    .border-right-status{
        border-right: none;
        border-bottom: 1px solid #AAB2B5;
    }
    .industry-headed{
        font-size: 1.5rem!important;
    }
    .resposive-df-h4 {
        font-size: 0.9rem;
    }
    .discovery_pt{
        position: initial;
        max-width: 98%;
        margin: 10px auto 0;
        padding: 7px 10px 18px;
    }
    .progress-Header-bar .icons-symbol3{
        left: 90% !important;
    }
    .progress-Header-bar .icons-symbol{
        left: 22%;
    }
    .progress-Header-bar .icons-symbol1{
        left: 44%;
    }
    .progress-Header-bar .icons-symbol2{
        left: 70%;
    }
    .badge_content .badge-icon{
        padding: 15px;
    }
    .badge_content .progress .progress-bar4{
        width: 4.5%;
    }
    .badge_content .progress .progress-bar4 .begin-points{
        left: 31%;
    }
    .report-header-slider {
        max-height: 200px !important;
    }
    .verticle-tabing-add-banner .nav.nav-tabs{
        font-size: 12px;
    }
    .verticle-tabing-add-banner{
        right: 0;
        top: -15px;
    }
    .verticle-tabing-add-banner .nav.nav-tabs li.nav-item{
        padding: 0 6px;
    }
    .advertiser-border-left-0{
        border: 1px solid #AAB2B5!important;
    }
    .advertiser-border-bottom-0{
        border-bottom: 0!important;
    }
    .advertiser-border.advertiser-border-bottom{
        border-bottom: 0!important;
    }
    .banner-ads-text {
        position: initial;
        bottom: 0;
    }
    .opportunities-text {
        font-size: 0.61rem!important;
        min-height: 30px;
    }
    .publisher-basic {
        font-size: 0.95rem;
    }
    .price-txt {
        font-size: 0.95rem;
    }
    .publisher-get-started .btn-primary-large-text{
        padding: 0.5rem 0 !important;
        font-size: 0.8rem!important;
    }
    .publisher-get-started .btn-white-large-text {
        padding: 0.5rem 0 !important;
        font-size: 0.8rem!important;
    }
    .campaign-compared {
        position: inherit;
    }
    .custom-opportunity-modal .info-modal-header {
        display: none;
    }
    .custom-opportunity-modal .info-modal-header .modal-title {
        font-size: 8px;
    }
    .dashboard-welcome-text h5{
        font-size: 1rem;
    }
    .dashboard-welcome-text h3{
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    .main-dashboard .border-daily-report .border-bottom {
        border-bottom: 0;
    }
    .border-daily-report h5{
        font-size: 1rem;
    }
    .most-featured-today .owl-carousel .owl-video-wrapper {
        height: 200px;
    }
/*    .owl-featured-today.owl-carousel.owl-loaded.owl-drag .item-video h4 {
        position: absolute;
        bottom: 10%;
        font-size: 1.3rem;
        color: #ffffff;
        padding: 0 15px;
        background: red; !* For browsers that do not support gradients *!
        background: linear-gradient(to right, red , yellow); !* Standard syntax (must be last) *!
    }
    .owl-featured-today.owl-carousel.owl-loaded.owl-drag .item-video h4 a{
        color: #ffffff!important;
    }*/
}

@media (max-width: 360px) {
/*    .burger-menu-main nav[role="full-horizontal"] ul {
        position: initial;
        max-height: 423px;
    }*/
    .burger-menu-main {
        top: 68px;
    }
    .icons-symbol.graph-icon-symball img.pr-3, .px-3 {
        padding-right: 0.8rem!important;
    }
}

@media (min-width: 992px) {
    .offset-custom {
        margin-left: 245px;
    }
    .progress{ margin-bottom: 20px; }
}
